.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  text-align: center;
  background-color: red;
}
table {
  width: 600px;
  height: 300px;
}
body {
  background-image: url(../img/Motorola_logo26.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.display {
  text-align: center;
  color: white;
}
